{%extends 'ig/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
        <a href="{%url 'new_post'%}">add new pic</a>
    <div class="row">
        <div class="col-md-6">
    {%for post in posts %}
    <div class="card " >
        <div class="card-body" style="display: flex;">
            <!-- change post.image .url to  profile pic image -->
            <img  src="{{post.image.url}}" style="border-radius: 50%;"
            width="32" height="32" class="img-fluid" alt="image">
            <h5 class="card-title" style="padding-top: 10px; margin-left:10px">{{post.user}}</h5>
        </div>
    </div>
    <img src="{{post.image.url}}" class="img-responsive" alt="Image" >
    <div class="card " >
        <div class="card-body">
            <i class="fa fa-heart-o" style="font-size: 30px; margin-right:10px; color:black"></i>
            <i class="fa fa-comment-o" style="font-size: 30px; color: black;"></i>
            <!-- <i class="fa fa-location-arrow" style="font-size: 30px; color: black;"></i> -->
            <p class="card-text">{{post.likes}} likes</p>
            <p class="card-text">{% autoescape on %}  <span style="font-weight: bolder;">{{post.profile}}</span>:  {{post.image_caption|safe}}
                                                    {% endautoescape %}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{post.post_time|timesince}} ago</h6>
            <h6 class="card-subtitle mb-2 text-muted">Add a comment ...</h6>
        </div>
    </div>
    {% empty %}
    <div class="card">
        <img class="card-img-top" src='' alt="image">
        <div class="card-body"> no postsss</div>
    </div>
    {% endfor %}
</div>
</div>
</div>


{% endblock %}