{%extends 'ig/base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<header style="margin-top: 80px;">
        <div class="container">
    
            <div class="profile" style="margin-bottom: 40px;">
    
                <div class="profile-image">
    
                    {%if profile.profile_pic%}
                    <img src="{{profile.profile_pic.cdn_url}}"
                        alt="" width="150" height="150" class="img-fluid">
                    {%else%}
                    <img src="{%static 'avatars/default.png'%}"
                        alt="" width="150" height="150" class="img-fluid">
                    {%endif%}
    
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name">{{user.username}}</h1>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                            aria-hidden="true"></i></button>
    
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count">{{posts|length}}</span> posts</li>
                        <li><span class="profile-stat-count">{{profile.followers|length}}</span> followers</li>
                        <li><span class="profile-stat-count">{{profile.following|length}}</span> following</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p><span class="profile-real-name">{{user.first_name}} {{user.last_name}}</span></p> 
                    <p>{{profile.bio}}</p>
    
                </div>
    
            </div>
            <!-- End of profile section -->
    
        </div>
        <!-- End of container -->
    
    </header>
    
    <main>
    
        <div class="container">
    
            <div class="gallery">
                {%for post in posts%}
                <div class="gallery-item" tabindex="0">
                    <img src="{{post.image.cdn_url}}"
                        class="gallery-image" alt="">
    
                    <div class="gallery-item-info">
    
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                    class="fas fa-comment" aria-hidden="true"></i> 0</li>
                        </ul>
    
                    </div>
    
                </div>
                {%endfor%}
            </div>
            <!-- End of gallery -->
    
            <div class="loader"></div>
    
        </div>
        <!-- End of container -->
    
    </main>
{% endblock %}